@{
    ViewData["Title"] = "Home Page";
}
<h1>Upload Transaction Account File</h1>
<div class="row">
    <section>
        <form method="post" enctype="multipart/form-data" class="form-horizontal"
              asp-controller="UploadFiles" asp-action="Post">
            <div class="form-group">
                <div class="col-md-10">
                    <h3>File Format - .xlsx, File Header - Account,Description,CurrencyCode,Amount</h3>
                    <label for="files">File:</label>
                    <input type="file" name="files" id="files"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" id="upload" />
                </div>
            </div>
        </form>
    </section>
</div>
<hr />
